In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('spacex-missions.zip')

In [7]:
df.columns

Index([u'Flight Number', u'Launch Date', u'Launch Time', u'Launch Site',
       u'Vehicle Type', u'Payload Name', u'Payload Type', u'Payload Mass (kg)',
       u'Payload Orbit', u'Customer Name', u'Customer Type',
       u'Customer Country', u'Mission Outcome', u'Failure Reason',
       u'Landing Type', u'Landing Outcome'],
      dtype='object')

In [13]:
df.head()

,Flight Number,Launch Date,Launch Time,Launch Site,Vehicle Type,Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Customer Name,Customer Type,Customer Country,Mission Outcome,Failure Reason,Landing Type,Landing Outcome
0,F1-1,24 March 2006,22:30,Marshall Islands,Falcon 1,FalconSAT-2,Research Satellite,19.5,NaN,DARPA,Government,United States,Failure,Engine Fire During Launch,NaN,NaN
1,F1-2,21 March 2007,01:10,Marshall Islands,Falcon 1,DemoSat,NaN,NaN,NaN,DARPA,Government,United States,Failure,Engine Shutdown During Launch,NaN,NaN
2,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,Trailblazer,Communication Satellite,NaN,NaN,ORS,Government,United States,Failure,Collision During Launch,NaN,NaN
3,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,"PRESat, NanoSail-D",Research Satellites,8.0,NaN,NASA,Government,United States,Failure,Collision During Launch,NaN,NaN
4,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,Explorers,Human Remains,NaN,NaN,Celestis,Business,United States,Failure,Collision During Launch,NaN,NaN

In [25]:
df.groupby('Launch Site')['Payload Mass (kg)'].mean()

Launch Site
Cape Canaveral AFS LC-40       3075.880
Kennedy Space Center LC-39A    2490.000
Marshall Islands                 93.125
Vandenberg AFB SLC-4E          3551.000
Name: Payload Mass (kg), dtype: float64

In [27]:
df[df['Launch Site']=='Marshall Islands']['Payload Mass (kg)']

0     19.5
1      NaN
2      NaN
3      8.0
4      NaN
5    165.0
6    180.0
Name: Payload Mass (kg), dtype: float64

In [29]:
(19.5+165+180+8)/4 # we don't

93.125

In [18]:
df['Payload Mass (kg)'].value_counts()

4159.0    2
3600.0    2
500.0     2
3170.0    1
8.0       1
3136.0    1
4428.0    1
2257.0    1
150.0     1
5271.0    1
4696.0    1
2395.0    1
3100.0    1
1952.0    1
2490.0    1
677.0     1
4707.0    1
165.0     1
2216.0    1
553.0     1
1898.0    1
9600.0    1
180.0     1
4600.0    1
4535.0    1
2296.0    1
570.0     1
5500.0    1
3325.0    1
19.5      1
Name: Payload Mass (kg), dtype: int64

In [12]:
pd.DataFrame(df.groupby('Vehicle Type')['Mission Outcome'].value_counts())

                                             Mission Outcome
Vehicle Type                Mission Outcome
Falcon 1                    Failure                        5
                            Success                        2
Falcon 9 (v1.0)             Success                        5
                            Failure                        1
Falcon 9 (v1.1)             Success                       15
                            Failure                        1
Falcon 9 Full Thrust (v1.2) Success                       11
                            Failure                        1