In [26]:
import pandas as pd
import numpy as np
%matplotlib inline

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/suneel0101/lesson-plan/master/crunchbase_monthly_export.csv")

In [11]:
#df

In [12]:
print list(df.columns)

['permalink', 'name', 'homepage_url', 'category_list', ' market ', ' funding_total_usd ', 'status', 'country_code', 'state_code', 'region', 'city', 'funding_rounds', 'founded_at', 'founded_month', 'founded_quarter', 'founded_year', 'first_funding_at', 'last_funding_at', 'Unnamed: 18']

In [17]:
df[' funding_total_usd '].head()

0       750,000
1     1,750,000
2     4,000,000
3        40,000
4     1,500,000
Name:  funding_total_usd , dtype: object

In [ ]:
# pandas did not recognise this colum as a float ..

In [19]:
df[' funding_total_usd '].iloc[1]

' 1,750,000 '

In [20]:
df[' funding_total_usd '].iloc[2]

' 4,000,000 '

In [21]:
df[' funding_total_usd '].iloc[1]+df[' funding_total_usd '].iloc[2]

' 1,750,000  4,000,000 '

In [22]:
# so how do we deal wiht this... we need to conver this column into integers

In [41]:
def _convert_to_intes(a):
    if a.strip() != '-':
        return int(a.replace(',',''))
    else:
        return np.nan

In [42]:
df[' funding_total_usd '].apply(_convert_to_intes)

0           750000.0
1          1750000.0
2          4000000.0
3            40000.0
4          1500000.0
5           600000.0
6          7000000.0
7          4912393.0
8          2000000.0
9                NaN
10         1700000.0
11           40000.0
12               NaN
13               NaN
14         1750000.0
15               NaN
16         2050000.0
17           40000.0
18          500000.0
19               NaN
20         2535000.0
21         4462651.0
22         1869079.0
23        10000000.0
24         3000000.0
25         3000000.0
26         1250000.0
27        35000000.0
28           50000.0
29         1600000.0
            ...
44920       651000.0
44921      3500000.0
44922       190000.0
44923       100000.0
44924       870000.0
44925      3845100.0
44926     45750000.0
44927            NaN
44928      9000000.0
44929      3384225.0
44930       800000.0
44931        75000.0
44932     12039999.0
44933      2257464.0
44934     38900000.0
44935            NaN
44936            NaN
44937      3805520.0
44938    866550786.0
44939     25000000.0
44940     14750000.0
44941     34275015.0
44942     15398910.0
44943      1510500.0
44944      2686600.0
44945       120000.0
44946      1587301.0
44947        71525.0
44948      9300000.0
44949     45000000.0
Name:  funding_total_usd , dtype: float64

In [ ]:
df[' funding_total_usd '].iloc[9]